* {
    margin:0;
    border:0;
    padding:0;
    font-family: Cochin, Cambria;
}
:root {
    --color-green: #A3C9AA;
    --color-greenL: #a3c9aa28;
    --color-pink: #C68484;
    --color-pinkL:rgba(198, 132, 132, 0.185);
    --color-neutral: #eee;
    --color-font: #504b4b;
    --color-accent: #9B4444;
}
body{
    
    font-size: 1.2em;
    color: var(--color-font);
    background-color: var(--color-neutral);
}

.green{
    width: 100%;
    padding: 20px;
    height: 500px;
    background: linear-gradient(
        var(--color-pink) 10%,
        var(--color-green)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:white;
    font-size: 29px; 
    
}
.decorate {
    text-transform: capitalize;
    text-decoration:underline;
}
.pink {
    width: 100%;
    background-color: var(--color-accent);
    padding: 10px; margin:0;
    letter-spacing: 0.79em;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: justify;
    margin: 20px;
    flex-wrap: wrap;
    
}
.about>p{
    margin: 5px;
    padding: 20px 5px;
    box-sizing: border-box;
    background-color: var(--color-greenL);
    border-radius: 10%;
    max-width: 800px;
    min-width: 100px;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--color-neutral);
    padding: 20px;
}


.projects> *{
    
    margin: 20px 5px;
    background-color: var(--color-greenL);
    width: auto;
    min-width: 200px;
    min-height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--color-font);
    margin-bottom: 50px;
}
ul>li {
    margin: 5px;
    background-color: var(--color-pinkL);
    
    width: auto;
    min-width: 200px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2,h3 {
    text-align: center;
    margin: 20px;
}

a{
    text-decoration: none;
    color: var(--color-font)
}
.me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img.me {
    width: 150px;
    border: 5px solid var(--color-accent);
    border-radius: 50%;
    transition: all 0.6s;
}
footer{
    background: linear-gradient(
        var(--color-pink) 10%,
        var(--color-green)
    );
        padding-left: 10px;
        display: flex;
        bottom: 0;
        height: 60px;
        margin-bottom: 0;
        flex-direction: row;
}
footer>a:hover{
    color: var(--color-accent);
    font-weight: 900;
    font-size: 1.1em;
}

.projects> *:hover {
    background-color: var(--color-green);
}

h2:hover {
    color: var(--color-accent);
}
img.me:hover {
    transform: rotate(180deg)
}
.pink h3:hover {
    opacity: 0.5;
}
@media (max-width:450px){
    .skills>ul{
        display: block;
    }
}